@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@200&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blog-header {
  font-family: 'Kaisei HarunoUmi', serif;
  width:85vw;
  margin:0 auto;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  border-top: none;
  padding:5px 10px;
}

.article-title {
  font-family: 'Kaisei HarunoUmi', serif;
}

.article {
  font-family: 'IBM Plex Sans Hebrew', sans-serif;
  font-weight: bold;
}

.blog-card {
  margin:10px 0;
  padding: 10px 10px;
  box-shadow: 2px 3px 5px #ccc;
  border-radius:5px;
}

main {
  width: 85vw;
  margin:0 auto;
}
